body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

h1 {
    margin: 0;
}

/* Navbar styles */
nav {
    background-color: #444;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
}

.navbar li {
    margin: 0 15px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-weight: bold;
}

.navbar li a:hover {
    background-color: #555;
    color: #fff;
}

/* "Back to Top" Button */
#backToTop {
    display: none; /* Initially hidden */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

#backToTop:hover {
    background-color: #555;
}

/* Sections */
section {
    padding: 2em;
    margin: 2em 0;
}

.project {
    margin-bottom: 2em;
}

.project img {
    max-width: 100%;
    height: auto;
    color: black;
}

/* Footer */
footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}